.user-container{
    .user-title{
    margin-bottom: 15px;
    font-size: 30px;
}
    .user-content{
        .child {
            width: 400px;
            margin: 0 auto;
            height: 50px;
            border: 1px solid grey;
            padding: 5px 0;
            
        }
    }
}
.active{
    background-color: #f59bf5f3;
}
button {
    margin: 10px 5px 0px 0px;
    border-radius: 5px;
}
.user-detail {
    text-align: left;
}

